@model List<Program_C.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Member</h4>
	@if (Model != null && Model.Count > 0)
	{
		<ul>
			@foreach (var item in Model)
			{
				<li>
					@Html.ActionLink(item.Name,"Detail", new {Id = item.Id} )
				</li>
			}
		</ul>
	}
	else
	{
		<p>目前沒有會員資料。</p>
	}
    <hr />

</div>
<div>
	<a asp-action="Index">Back to List</a> |
	<a asp-action="Create">Create New</a>
</div>
