@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["time"]</h1>
    @Html.Raw(@ViewData["link"])
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form asp-controller="IDNumber" asp-action="IDNumberCheck" method="post">
        <span>Enter a ID Number</span>
        <input type="text" name="ID" value="" />
		<button type="submit">檢查</button>
    </form>
    <div id="rainbow"></div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch('/New/Rainbow')
                .then(response => response.text())
                .then(data => {
                    document.getElementById("rainbow").innerHTML = data;
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
}