@model IEnumerable<Message>
@{
	ViewData["Title"] = "Home Page";

}

<div id="message-list">
	@await Html.PartialAsync("_MessageListPartial", Model)
</div>
<div id="more-message">

</div>
<div class="d-grid gap-2">
	<button id="load-more" class="btn btn-secondary">顯示更多</button>
</div>

<div id="post-form">
    @await Html.PartialAsync("_PostMessagePartial")
</div>

@section Scripts {
	
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script>
		let skip = 4,take = 0;
		const default_take = 4,default_skip = 4;
		//如果使用asp的話可以啟用後端驗證
        //$.validator.unobtrusive.parse($('#mainForm')); // 解析表單以啟用驗證

        //init after the page is loaded
		document.addEventListener('DOMContentLoaded', function() {
			   $('#message-list').load("/Home/GetMessage",function(){
					setBtnEvent(); // 設置回覆按鈕事件
					setImgEvent(); // 設置圖片預覽事件
			   });
		});

        // prevent default form submission
        document.getElementById('mainForm').addEventListener('submit', function(event) {
            event.preventDefault(); // 阻止表單的默認提交行為

			//根據留言或者回複改變action link
			var linkUrl = "/Home/NewMessage";
            if(event.target.messageId.value){
				linkUrl = "/Home/ReplyMessage";
			} else{
                take += 1; // 每次提交後增加載入的留言數量
				skip += 1;
			}

               var formData =  new FormData(this); // 使用 FormData 來處理檔案上傳

			$.ajax({
				type: "Post",
				url: linkUrl,
				data: formData,
				processData: false,
                contentType: false,
				success: function (data) {
					$('#message-list').load("/Home/GetMessage",function(){
                        if(linkUrl == "/Home/ReplyMessage") return; // 如果是回覆留言則不重新載入留言列表
						$('#more-message').load(`/Home/GetMessage?skip=${default_skip}&take=${take}`,function(){
							// 重新載入留言列表
							setBtnEvent(); // 重新設置回覆按鈕事件
					   });
					});

                       resetForm(); // 重置表單

     //                $('#previewImg').src = ''; 清除預覽圖片
					// $('#previewImg').style.display = 'none'; 隱藏預覽圖片
					// $('#subject_text').innerText = '主旨'; 重置主旨文字
					// $('#messageId').value = ''; 清除隱藏的ID欄位
					// $('#subject').disabled = false; 啟用主旨輸入框
					// $('#warning_text').innerText = ''; 清除警告訊息

				},
				error: function (xhr, status, error) {
					console.error('Error:', error);
					document.getElementById('warning_text').innerText = '發生錯誤，請稍後再試。';
				}
			});
        });
		
		function setBtnEvent(){
			document.querySelectorAll('.reply-btn').forEach(function(btn) {
				btn.addEventListener('click', function() {
					var id = this.getAttribute('data-id');
					var subjectInput = document.getElementById('subject');
					document.getElementById('subject_text').innerText = '回覆給: ';
					subjectInput.value = this.getAttribute('data-poster');
					subjectInput.disabled = true; // 禁用主旨輸入框
					document.getElementById('messageId').value = id; // 設定隱藏的ID欄位
					var form = document.getElementById('mainForm');
					form.setAttribute('action', '@Url.Action("ReplyMessage", "Home")');
					document.getElementById('sender').focus(); // 將焦點移到內容輸入框
					document.getElementById('formFile').parentElement.style.display = 'none'; // 隱藏預覽圖片
				});
               });
		}

		function setImgEvent(){
			// 當選擇檔案時，顯示預覽圖片
			  document.getElementById('formFile').addEventListener('change', function(event) {
			   var file = event.target.files[0];
			   if (file && file.type.startsWith('image/')) {
				   var reader = new FileReader();
				   reader.onload = function(e) {
					   var img = document.getElementById('previewImg');
					   img.src = e.target.result;
					   img.style.display = 'block';
				   };
				   reader.readAsDataURL(file);
				   document.getElementById('warning_text').innerText = ''; // 清除警告訊息
			   } else {
				   document.getElementById('previewImg').style.display = 'none';
				   document.getElementById('formFile').value = ''; // 清除選擇的檔案
				   document.getElementById('warning_text').innerText = '請選擇圖片檔案';
			   }
		   });
		}

		function resetForm(){
			document.getElementById('mainForm').reset(); //重置表單

			document.getElementById('previewImg').src = ''; // 清除預覽圖片
			document.getElementById('previewImg').style.display = 'none'; // 隱藏預覽圖片
			document.getElementById('subject_text').innerText = '主旨'; // 重置主旨文字
			document.getElementById('messageId').value = ''; // 清除隱藏的ID欄位
			document.getElementById('subject').disabled = false; // 啟用主旨輸入框
			document.getElementById('warning_text').innerText = ''; // 清除警告訊息
			document.getElementById('formFile').parentElement.style.display = 'block'; // 顯示檔案上傳區域
		}


		document.getElementById('load-more').addEventListener('click', function() {
           
			fetch(`/Home/GetMessage?skip=${skip}&take=${default_take}`)
				.then(response => response.text())
				.then(html => {
					if(html.length != 2) {
						document.getElementById('more-message').insertAdjacentHTML('beforeend', html);
						// take 要增加載入的留言數量
                        take = html.split('div class="message').length - 1; // 計算新增的留言數量
                        skip += take; // 更新跳過的數量
                           console.log(`Loaded ${take} more messages.`);
					}
				});
		});
	</script>
}